$f-family: "Roboto", sans-serif;

$f-size-subtitle: 0.875rem;

$c-primary: #0366d6;
$c-white: #fff;
$c-border: #dadce0;
// 5a75f9

$c-text-secondary: #444d56;

$radius: 6px;

$border: 1px solid $c-border;
