.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.d-flex.space-between {
  justify-content: space-between;
}

.d-flex.align-center {
  align-items: center;
}

.d-flex.align-start {
  align-items: flex-start;
}

.d-flex.align-end {
  align-items: flex-end;
}
