@import "./variables.css";
@import "./grid.css";

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  font-size: 1em;
}

.icon--opac {
  color: var(--c-icon-opac);
}

.icon--xs {
  font-size: var(--fs-icon-xs);
}

.icon--md {
  font-size: var(--fs-icon-md);
}
